    The CSV file must contain all required columns:
    <ul>
      <li><span class="font-pre">description</span>: description of the transaction.</li>
      <li><span class="font-pre">date</span>: date of the transaction. Should be formatted as <span class="font-pre">YYYY-MM-DD</span> or <span class="font-pre">YYYY/MM/DD</span>.</li>
      <li><span class="font-pre">amount</span>: amount of the transaction. Can be prefixed by <span class="font-pre">+</span> or <span class="font-pre">-</span>.</li>
    </ul>
    <div><b>Sample</b>:</div>
    <pre>"description","date","amount"
"Transaction 1","2017/12/31","+1,123.89"</pre>
