<div class="alert alert-danger" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div class="title">Oups! Page Not Found (404 error)</div>
  <p>
    Sorry but the page you are looking for can not be found!<br />
    Click on the following <%= link_to('link', root_path) %> to go back to the home page.
  </p>
</div>

<center>
  <%= image_tag("errors/404.jpg") %>
</center>
