<div class="alert alert-danger" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div class="title">Oups! Unprocessable Entity (422 error)</div>
  <p>
    Sorry but your request can not be processed!<br />
    Click on the following <%= link_to 'link', root_path %> to go back to the home page.
  </p>
</div>

<center>
  <%= image_tag("errors/422.jpg") %>
</center>