<p>
  <strong>Name:</strong>
  <%= @bank_account.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @bank_account.user.name %>
</p>

<div class="actions">
  <%= link_to edit_bank_account_path(@bank_account), :class => "btn btn-primary pull-right" do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit Bank Account
  <% end %>
  <%= link_to bank_accounts_path, class: "btn btn-link pull-right" do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back to Accounts list
  <% end %>
</div>
