
.font-pre {
  font-family: monospace;
  white-space: pre;
  &.bkgd {
    background-color: #EEE;
  }
}

.normal-font {
  font-weight: normal !important;
}

// audits styles
table td .audit-description {
  .column {
    font-weight: bold;
  }
  .from, .to {
    font-family: monospace;
    background-color: #EEE;
  }
  .text {
    font-size: 90%;
  }
}
