$primary-color: #4267b2;
$primary-color-hover: #365899;
$primary-constrast-color: white;

$primary-background-color: $primary-color;
$primary-background-color-hover: $primary-color-hover;
$primary-color-with-background: $primary-constrast-color;

$font-size-h1: 2rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.2rem;
