  <% if object.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
      <ul>
      <% object.errors.each do |field, messages| %>
        <% messages = [messages] unless messages.class == Array %>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>
